$primary ?= rgb(5, 150, 105)
$text-light ?= rgb(145, 147, 159)
$pagination-current-background-color ?= rgb(5, 150, 105)
$body-background-color ?=rgb(16, 25, 38)
$menu-item-active-background-color ?= rgb(133, 189, 166)
$desktop ?= 1087px

*
    line-height: 28px;
    scrollbar-width: thin;
    scrollbar-color: #92dde2 rgb(29, 40, 53);

@media screen and (max-width: $desktop)
    body
        font-size: 10px;

body
    background: $body-background-color
    color: rgb(245, 243, 245)

strong
    color: rgb(5, 150, 105) 

.navbar-main
    background-color: rgb(16, 25, 38)
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .navbar-item
        color: rgb(245, 243, 245)

        &:hover{
            background-color: transparent
            color: rgba(245, 243, 245, 0.5)
        }

        &.is-active
            color: rgb(219, 84, 97)
            background-color: transparent

@media screen and (max-width: $desktop)
    .navbar-menu
        background-color: rgb(16, 25, 38)

.card
    color: rgb(145, 147, 159) 

    .card-content
        background-color: rgb(10, 15, 31)

        .content>*
            color: rgb(221, 223, 215) 
            code
                border-radius: 4px;
                padding: 3px 6px;
                background-color: rgb(29, 40, 53)
                transition: color .25s, background-color .5s;
    .title
        color: rgb(221, 223, 215)

@media screen and (max-width: 768px)
    article.article .content
        word-wrap: break-word;
        font-size: 1rem;

@media screen and (max-width: 768px)
    .is-size-4-mobile
        font-size: 1.3rem !important;
    .title:not(:last-child)
        margin-bottom: .8rem;
@media screen and (max-width: 768px)
    .is-size-7, article.media .date, article.media .categories, .article-licensing .licensing-title a, .article-licensing .licensing-meta h6
        font-size: 0.65rem !important;

.article-more
    background-color: $primary;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.7);

footer.footer
    background: rgb(27, 38, 79)

.pagination .pagination-previous, .pagination .pagination-next
    background: rgb(5, 150, 105) 
    a
        color: rgba(255, 255, 255, 0.7)

.widget
    .menu-list
        a
            color: rgb(221, 223, 215)
            &:hover
                background: rgb(29, 40, 53)
            &.is-active
                background: rgb(29, 40, 53)

        .tag
            background: transparent
            color: rgb(221, 223, 215)

    .tags
        .tag:first-child
            background: $primary
            color: rgb(221, 223, 215)

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar
    width: 4px;

*::-webkit-scrollbar-track
    background:rgb(29, 40, 53)

*::-webkit-scrollbar-thumb
    background-color: #92dde2;
    border-radius: 10px;
    border: 1px solid #ffffff;

.content table thead td, .content table thead th
    color: rgb(221, 223, 215)

@media screen and (max-width: 768px)
    .content table thead td, .content table thead th
        font-size: 0.85rem

.link-muted 
    color: rgb(221, 223, 215)

.breadcrumb li.is-active a
    color: rgb(221, 223, 215)

.searchbox .searchbox-container
    background-color: rgb(27, 38, 79)

.searchbox .searchbox-result-item:not(.disabled):not(.active):not(:active):hover
    background-color: rgb(29, 40, 53)

.searchbox .searchbox-result-section
    border-bottom: none;

.searchbox .searchbox-input
    color: rgb(27, 38, 79)

.searchbox .searchbox-result-item em
    background-color: rgb(5, 150, 105) 

.searchbox a.searchbox-close
    color: rgb(27, 38, 79)

.searchbox .searchbox-close:hover
    color: rgb(29, 40, 53)

.navbar-mobile
    display: none;

@media screen and (max-width: 768px)
    .navbar-main .navbar-container
        display: none;
    .navbar-mobile
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        .navbar-burger
            span
                background-color: rgb(221, 223, 215)
        .navbar-menu
            position: absolute;
            top: 50px;
            width: 100%;
            max-height: 0;
            align-items: center;
            display: flex;
            flex-direction: column;
            transition: max-height 0.3s ease, opacity 0.3s ease;